<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="/css/styles.css">
     <title>{{ title }}</title>
     <meta name="description" content="{{ description }}" />
  </head>
  <body class="antialiased w-full">
    <div class="mx-6">
      <div class="border-b border-blue-500">
        <div class="py-5 flex flex-col">
          <div class="text-center">            
            <a href="/">
              <h1 class="font-bold text-4xl">
                Barnwell Family Tree
              </h1>
            </a>
            <div class="text-base">
                The family line of John Joseph Barnwell & Anna Regina Herbert
            </div>            
          </div>          
        </div>   
      </div>
      <div class="text-xl py-5">
        {{ content | safe }}
      </div>      
    </div>
    <footer class="text-center mt-14 border-t-2 border-gray-200 py-3">
      <p class="text-base">
        Designed, developed, and manged by <a href="https://tumultywebservices.dev" class="font-bold text-green-700">Tumulty Web Services</a>
      </p>
    </footer>
  </body>
</html>