---
layout: base.njk
pagination:
  data: members
  size: 1
  alias: members
permalink: "/{{ members.slug }}/bio.html"
title: "{{ members.name }}"
description: "{{ members.name }} - biography"

    

---

<article>
  <header>
    <h1 class="text-center font-bold text-3xl">{{ members.name }}</h1>
    <div class="text-center text-sm mb-8">
      {{ members.life }}
    </div>
  </header>
  More to come...
</article>