---
layout: base.njk
pagination:
  data: members
  size: 1
  alias: members
permalink: "/{{ members.slug }}/bio.html"
eleventyComputed:
    title: "{{ members.name }} - Biography"
    description: "This is a biography and details on {{ members.name }}, who is a member of the Barnwell family tree."

---

<article>
  <header>
    <h1 class="text-center font-bold text-3xl">{{ members.name }}</h1>
    <div class="text-center text-sm mb-8">
      {{ members.life }}
    </div>
  </header>
  <div class="mt-10 max-w-screen-md mx-auto">
    Person's bio will go here...
    <h3>Photo Gallery</h3>
    <a href="/{{members.slug}}/gallery.html">{{members.name}}'s Photo Gallery</a>
  </div>
</article>
<section class="mt-10 max-w-screen-md mx-auto">
    <h4 class="comment-title">Comments</h4>
    <% if(members.comments.length > 0) {
      members.comments.forEach(function(comment){ %>
       <div class="border-2 border-indigo-200 p-3 w-11/12 py-5 mb-5 rounded shadow-md">
          <p class="font-bold leading-relaxed"><%= comment.name %></p>
          <p class="text-base"><%= comment.comment %></p>
        </div> 
    <% });} %>
  </section>  
  <section class="mt-10 max-w-screen-md mx-auto">
    <h4 class="text-2xl font-bold my-2">Make a comment</h4>
    <p class="text-gray-900 text-base mb-2">Feel free to add details about this persons life. The data on this website is always growing  📈</p>
      <form netlify name="comments-queue" action="/thanks">
        <input name="path" type="hidden" value="<%= page.url %>">
        <p>
          <label for="name" class="sr-only">Your name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="border-2 border-indigo-200 p-1 rounded mb-3 w-11/12"
            placeholder="Your name"  
          >
        </p>
        <p>
          <label for="email" class="sr-only">Your email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your email"
            class="border-2 border-indigo-200 p-1 rounded mb-3 w-11/12"
          >
        </p>
        <p>
          <label for="comment" class="sr-only">Your comment</label>
          <textarea
            name="comment"
            id="comment"
            class="border-2 border-indigo-200 rounded form-textarea mt-1 block w-11/12 mb-3 pl-1"
            rows="3"
            placeholder="Your comments"
            ></textarea>
        </p>
        <p>
          <button type="submit"class="bg-indigo-700 hover:bg-indigo-600 rounded p-2 block text-white w-100" >Post your comment</button>
        </p>
      </form>  
  </section>  