---
title: Barnwell Family Tree
description: The family line of John Joseph Barnwell & Anna Regina Herbert
layout: base.njk
---

<div class="content text-center max-w-screen-lg mx-auto">
  <!-- Start Children-->
  <div class="border-b-2 border-blue-400 mt-6 mb-12">
    <h4>Children</h4>
    <div class="flex flex-col md:flex-row justify-center my-5">
      <a href="/bio/sally-e-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-green-500 hover:bg-green-400 py-8 px-3 leading-4 rounded text-white text-base font-bold">
        Sally E. Barnwell
      </a>
      <a href="/bio/john-j-barnwell-jr" class="mr-3 mb-3 md:mb-0 shadow-md bg-green-500 hover:bg-green-400 py-8 px-3 leading-4 rounded text-white text-base font-bold">
        John J. Barnwell, Jr.
      </a>
      <a href="/bio/thomas-f-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-green-500 hover:bg-green-400 py-8 px-3 leading-4 rounded text-white text-base font-bold">
        Thomas F. Barnwell
      </a>
      <a href="/bio/mary-j-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-green-500 hover:bg-green-400 py-8 px-3 leading-4 rounded text-white text-base font-bold">
        Mary J. Barnwell
      </a>
      <a href="/bio/ann-m-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-green-500 hover:bg-green-400 py-8 px-3 leading-4 rounded text-white text-base font-bold">
        Ann M. Barnwell
      </a>
      <a href="/bio/helen-r-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-green-500 hover:bg-green-400 py-8 px-3 leading-4 rounded text-white text-base font-bold">
        Helen R. Barnwell
      </a>
      <a href="/bio/edwin-h-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-green-500 hover:bg-green-400 py-8 px-3 leading-4 rounded text-white text-base font-bold">
        Edwin H. Barnwell
      </a>
    </div>
  </div>
  <!-- End Children -->
  <!-- Start Parents-->
  <div class="border-b-2 border-blue-400 mb-12">
    <h4>Parents</h4>
    <div class="flex flex-col md:flex-row justify-center my-5">
      <a href="/bio/john-j-barnwell-sr" class="mr-3 mb-3 md:mb-0 shadow-md bg-yellow-500 hover:bg-yellow-400 p-3 rounded text-white text-base font-bold">
        John J. Barnwell, Sr.
      </a>
      <a href="/bio/anna-r-herbert" class="mr-3 mb-3 md:mb-0 shadow-md bg-yellow-500 hover:bg-yellow-400 p-3 rounded text-white text-base font-bold">
        Anna R. Herbert
      </a>
    </div>
  </div>
  <!-- End Parents-->
  <!-- Start Grandparents -->
  <div class="border-b-2 border-blue-400 mb-12">
    <h4>Grandparents</h4>
    <div class="flex flex-col md:flex-row justify-center my-5 mx-14">
      <a href="/bio/richard-f-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-blue-500 hover:bg-blue-400 p-3 rounded text-white text-base font-bold">
        Richard F. Barnwell
      </a>
      <a href="/bio/sarah-snitzler" class="mr-3 mb-3 md:mb-0 shadow-md bg-blue-500 hover:bg-blue-400 p-3 rounded text-white text-base font-bold">
        Sarah Snitzler
      </a>
      <a href="/bio/edwin-w-herbert" class="mr-3 mb-3 md:mb-0 shadow-md bg-blue-500 hover:bg-blue-400 p-3 rounded text-white text-base font-bold">
        Edwin W. Herbert
      </a>
      <a href="/bio/sarah-a-horahan" class="mr-3 mb-3 md:mb-0 shadow-md bg-blue-500 hover:bg-blue-400 p-3 rounded text-white text-base font-bold">
        Sarah A. Horahan
      </a>
    </div>
  </div>
  <!-- End of grandparents -->
  <!-- Start greatgrandparents -->
   <div class="border-b-2 border-blue-400 mb-12">
    <h4>Great-Grandparents</h4>
     <div class="flex flex-col md:flex-row justify-center my-5">
        <a href="/bio/john-h-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-orange-500 hover:bg-orange-400 py-8 px-3 leading-4 rounded text-white text-sm font-bold">
          John H. Barnwell
        </a>
        <a href="/bio/margaret-boyne" class="mr-3 mb-3 md:mb-0 shadow-md bg-orange-500 hover:bg-orange-400 py-8 px-3 leading-4 leading-4 rounded text-white text-sm font-bold">
          Margaret Boyne
        </a>
        <a href="/bio/john-snitzler" class="mr-3 mb-3 md:mb-0 shadow-md bg-orange-500 hover:bg-orange-400 py-8 px-3 leading-4 rounded text-white text-sm font-bold">
          John Snitzler
        </a>
        <a href="/bio/winifred-flannery" class="mr-3 mb-3 md:mb-0 shadow-md bg-orange-500 hover:bg-orange-400 py-8 px-3 leading-4 rounded text-white text-sm font-bold">
          Winifred Flannery
        </a>
        <a href="/bio/john-b-herbert" class="mr-3 mb-3 md:mb-0 shadow-md bg-orange-500 hover:bg-orange-400 py-8 px-3 leading-4 rounded text-white text-sm font-bold">
          John B. Herbert
        </a>
        <a href="/bio/ellen-r-durande" class="mr-3 mb-3 md:mb-0 shadow-md bg-orange-500 hover:bg-orange-400 py-8 px-3 leading-4 rounded text-white text-sm font-bold">
          Ellen R. DuRande
        </a>
        <a href="/bio/william-r-horahan" class="mr-3 mb-3 md:mb-0 shadow-md bg-orange-500 hover:bg-orange-400 py-8 px-3 leading-4 rounded text-white text-sm  font-bold">
          William R. Horahan
        </a>
        <a href="/bio/anne-louney" class="mr-3 mb-3 md:mb-0 shadow-md bg-orange-500 hover:bg-orange-400 rounded text-white text-sm font-bold leading-4 py-8 px-3">
          Anne Louney
        </a>
      </div>
    </div>
    <!-- End greatgrandparents -->
    <!-- Start greatgreat-grandparents -->
   <div class="border-b-2 border-blue-400 mb-12">
    <h4>2nd Great-Grandparents</h4>
     <div class="flex flex-col md:flex-row justify-center my-5">
        <a href="/bio/old-richard-barnwell" class="mr-3 mb-3 md:mb-0 shadow-md bg-red-600 hover:bg-red-500 p-3 rounded text-white text-sm font-bold">
          (Old) Richard Barnwell
        </a>
        <a href="/bio/hugh-boyne" class="mr-3 mb-3 md:mb-0 shadow-md bg-red-600  hover:bg-red-500 p-3 rounded text-white text-sm font-bold">
          Hugh Boyne
        </a>
        <a href="/bio/margaret-wilkinson" class="mr-3 mb-3 md:mb-0 shadow-md bg-red-600 hover:bg-red-500 p-3 rounded text-white text-sm font-bold">
          Margaret Wilkinson
        </a>
        <a href="/bio/margaret-flannery" class="mr-3 mb-3 shadow-md md:mb-0 bg-red-600 hover:bg-red-500 p-3 rounded text-white text-sm font-bold">
          Margaret Flannery
        </a>
        <a href="/bio/francis-durande" class="mr-3 mb-3 shadow-md md:mb-0 bg-red-600 hover:bg-red-500 p-3 rounded text-white text-sm font-bold">
          Francis DuRande
        </a>
        <a href="/bio/maria-law" class="mr-3 mb-3 md:mb-0 shadow-md shadow-md bg-red-600 hover:bg-red-500 p-3 rounded text-white text-sm font-bold">
          Maria Law
        </a>
      </div>
    </div>
    <!-- End greatgreat-grandparents -->
    <p class="text-base text-left">I have a few leads on the Barnwell/Herbert line going back to 3rd/4th grandparents, but nothing substantial. I know that Maria Law's family is from England and came to the Philadelphia, PA in the mid 18th century, just before the signing of the Declaration of Independence. As for the Barnwells, I have nothing passed (Old) Richard Barnwell. Margaret Wilkson's parents were named Patrick Wilkinson & Margaret Geharty, both were from County Meath Ireland.</p>
</div>