---
layout: base.njk
pagination:
  data: members
  size: 1
  alias: members
permalink: "/{{ members.slug }}/gallery.html"
eleventyComputed:
    title: "{{ members.name }} - Photo Gallery"
    description: "This is a photo gallery of {{ members.name }}, who is a member of the Barnwell family tree."

---
<article>
  <header>
    <h1 class="text-center font-bold text-3xl">{{ members.name }}</h1>
    <div class="text-center text-sm mb-8">
      {{ members.life }}
    </div>
  </header>
  <div class="max-w-screen-lg mx-auto">
    <a href="/{{members.slug}}/bio.html">Go back to profile</a>
    <h3 class="text-1xl my-4">
      <strong>Want to add a photo?</strong>    
      Email it to <u>tumultywebservices@gmail.com</u>
    </h3>
  </div>
</article>