---
layout: gallery-base.njk
pagination:
  data: members
  size: 1
  alias: members
permalink: "/{{ members.slug }}/gallery.html"
eleventyComputed:
    title: "{{ members.name }} - Photo Gallery"
    description: "This is a photo gallery of {{ members.name }}, who is a member of the Barnwell family tree."

---
<article>
  <header>
    <h3 class="text-center font-bold text-3xl">{{ members.name }}</h3>
    <div class="text-center text-sm mb-8">
      {{ members.life }}
    </div>
  </header>
  <div class="max-w-screen-lg mx-auto">
    <a href="/{{members.slug}}/bio.html">Go back to profile</a>
    <p class="text-base">
      <strong>Want to add a photo?</strong>    
      Email it to <u>tumultywebservices@gmail.com</u>
    </p>
      <p class="text-base">
      <strong>Is the picture too small?</strong>    
      click on the image to make it bigger</u>
    </p>
    <div class="my-8">
     {% if  members.galleryPhotos.length > 0 %}
        <ul class="flex flex-wrap">
        {% asyncEach m in members.galleryPhotos %}
            <li class="my-2 flex-auto">
              <a
                href="https://res.cloudinary.com/tumulty-web-services/image/upload{{ m.url }}"
                id="single_image"
                rel="lightbox"
                class="fancybox"
              >
                <img src="https://res.cloudinary.com/tumulty-web-services/image/upload{{ m.url }}" alt="{{ m.alt }}" width="300" />
                <p class="my-0 py-0 text-sm">{{ m.alt}}</p>
              </a>
            </li>
        {% endeach %}
        </ul>
        
      {% endif %}


    </div>
  </div>
</article>